<section id={{@id}} role="region" aria-hidden={{this.ariaHidden}} aria-labelledby={{this.ariaLabelledBy}} class={{this.className}} ...attributes>
  <div class="a11y-accordion-panel-content">
    {{yield}}
  </div>
</section>
