<header class={{this.className}} ...attributes>
  {{#if @isCollapsible}}
    <button
      type="button"
      id={{@triggerId}}
      class="a11y-accordion-header__trigger"
      aria-controls={{@panelId}}
      aria-expanded={{this.ariaExpanded}}
      aria-disabled={{this.ariaDisabled}}
      {{on "click" @toggle}}>
      {{yield}}
    </button>
  {{else}}
    <button
      type="button"
      id={{@triggerId}}
      class="a11y-accordion-header__trigger"
      aria-controls={{@panelId}}
      aria-expanded={{this.ariaExpanded}}
      aria-disabled={{if @isDisabled this.ariaDisabled this.ariaExpanded}}
      {{on "click" @toggle}}>
      {{yield}}
    </button>
  {{/if}}
</header>