{{#if isCollapsible}}
  <button
    type="button"
    id={{triggerId}}
    class="a11y-accordion-header__trigger"
    aria-controls={{panelId}}
    aria-expanded={{ariaExpanded}}
    aria-disabled={{ariaDisabled}}>
    {{yield}}
  </button>
{{else}}
  <button
    type="button"
    id={{triggerId}}
    class="a11y-accordion-header__trigger"
    aria-controls={{panelId}}
    aria-expanded={{ariaExpanded}}
    aria-disabled={{if isDisabled ariaDisabled ariaExpanded}}>
    {{yield}}
  </button>
{{/if}}
